---
layout: default
---

	<!-- Home start -->

	<section id="home" class="module-image js-height-full">

		<div class="intro">
			<div class="hello">Hello, my name is Ali Alvarez and</div>
			<h1>I am technical business intelligence professional</h1>
			<div class="who-creates">analyzing data and helping make informed decisions</div>
		</div>

		<div class="mouse-icon">
			<div class="wheel"></div>
		</div>

	</section>

	<!-- Home end -->

	<!-- Navigation start -->

    <header class="header">

        <nav class="navbar navbar-custom">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">ALI ALVAREZ</a>
                </div>

                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
						<li><a href="#home">home</a></li>
<!-- Ommited section
						
						<li><a href="#testimonial">Testimonial</a></li>
						<li><a href="#blog">Blog</a></li>
-->
						<li><a href="#portfolio">Works</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
                    </ul>
                </div>

            </div><!-- .container -->

        </nav>

    </header>

    <!-- Navigation end -->

	<!-- Services start -->

	<section id="services" class="module module-gray">
		<div class="container">

			<div class="module-header wow fadeInUp">
				<h2 class="module-title">
					My Services
					<span>Services</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-camera-retro"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Photography</h3>
							<div class="iconbox-desc">
								Graduations, religious ceremonies, newborn pictures and more. I find joy in capturing precious moments to be enjoyed forever.
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp">
						<div class="iconbox-icon">
							<i class="fas fa-code"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Analytics</h3>
							<div class="iconbox-desc">
								Numbers and code, I love data engineering solutions to help find answers. From excel, python, drill and other open source projects, I am passionate about finding ways to make information easy to consume and empower teams to make informed decisions.
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="iconbox wow fadeInUp" data-wow-delay=".2s">
						<div class="iconbox-icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Project Manager</h3>
							<div class="iconbox-desc">
								Organized and methodological, I thrive building frameworks for collaboration and communication.
							</div>
						</div>
					</div>
				</div>
<!-- Ommited section
				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".4s">
						<div class="iconbox-icon">
							<i class="far fa-comments"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Marketing</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".6s">
						<div class="iconbox-icon">
							<i class="fas fa-palette"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Design</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>

				<div class="col-sm-4">

					<div class="iconbox wow fadeInUp" data-wow-delay=".8s">
						<div class="iconbox-icon">
							<i class="fas fa-rocket"></i>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Branding</h3>
							<div class="iconbox-desc">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...
							</div>
						</div>
					</div>

				</div>
-->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Services end -->
	<!-- Portfolio start -->

	<section id="portfolio" class="module">
		<div class="container">
			<div class="row">

				<div class="module-header">
					<h2 class="module-title">
						Portfolio
						<span>Photography</span>
					</h2>
					<div class="module-line"></div>
				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter start-->

			<div class="row">

				<div class="col-sm-12">

					<ul id="filter">
						<li class="active" data-group="all">All</li>
						<li data-group="slideshow">Slideshow</li>
						<li data-group="video">Video</li>
						<li data-group="image">Image</li>
					</ul>

				</div>

			</div><!-- .row -->

			<!-- Portfolio Filter end -->

		</div><!-- .contaier -->

		<ul class="list-items-container">

			<li class="list-item" data-groups="all slideshow">
				<figure>
					<img src="{{site.baseurl}}assets/images/p1-1.jpg" alt="p1">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p1-1.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Slideshow</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all video">
				<figure>
					<img src="{{site.baseurl}}assets/images/p2-2.jpg" alt="p2">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p2-2.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Video</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all image">
				<figure>
					<img src="{{site.baseurl}}assets/images/p3-3.jpg" alt="p3">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p3-3.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Image</div>
						</div>
					</figcaption>
				</figure>
			</li>
<!-- Ommited section
			<li class="list-item" data-groups="all slideshow">
				<figure>
					<img src="{{site.baseurl}}assets/images/p4-4.jpg" alt="p4">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p4-4.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Slideshow</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all video">
				<figure>
					<img src="{{site.baseurl}}assets/images/p5-5.jpg" alt="p5">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p5-5.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Video</div>
						</div>
					</figcaption>
				</figure>
			</li>

			<li class="list-item" data-groups="all image">
				<figure>
					<img src="{{site.baseurl}}assets/images/p6-6.jpg" alt="p6">
					<figcaption>
						<a href="{{site.baseurl}}assets/images/p6-6.jpg" class="simple-ajax-popup"></a>
						<div class="caption-inner">
							<h3 class="portfolio-item-title">Some work one</h3>
							<div class="portfolio-item-desc">Image</div>
						</div>
					</figcaption>
				</figure>
			</li>
-->
		</ul><!-- .projects-container -->

	</section>

	<!-- Portfolio end -->

	
	<!-- Blog start -->
<!-- Ommited
	<section id="blog" class="module blog">
		<div class="container">

			<div class="module-header">
				<h2 class="module-title">Blog
					<span>Articles</span>
				</h2>
				<div class="module-line"></div>
			</div>

			<div class="row">

            	{% for post in site.posts limit:3 %}
					<div class="col-sm-4">
						<a href="{{site.baseurl}}{{post.url}}" class="blogList wow fadeInUp">
							<div class="blogList-img">
								{% if post.banner_image %}
									<img src="{{ "assets/images/" | append: post.banner_preview | prepend: site.baseurl }}" alt="Blog Desc">
								{% endif %}
								{% if post.category %}
								<span>{{post.category}}</span>
								{% endif %}
							</div>
							<div class="blogList-desc">
								<h3>{{post.title}}</h3>
								<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim...</div>
							</div>
						</a>
					</div>
				{% endfor %}

				<div class="col-sm-12">
					<a class="blog-viewMore" href="{{site.baseurl}}blog.html">VIEW MORE</a>
				</div>

			</div>
		</div>
	</section>
-->
	<!-- Blog end -->

		<!-- About start -->

		<section id="about">

			<div class="row position-relative margin-0">
	
				<div class="col-xs-12 col-md-6 side-image"></div>
	
				<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
	
					<div class="row">
	
						<div class="col-sm-12">
	
							<div class="module-header wow fadeInUp">
								<h2 class="module-title">
									About me
									<span>About</span>
								</h2>
								<div class="module-line"></div>
							</div>
	
						</div>
	
					</div><!-- .row -->
	
					<div class="row">
	
						<div class="col-sm-6">
							<div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
								<div class="iconboxleft-icon">
									<i class="fas fa-child"></i>
								</div>
								<div class="iconboxleft-text">
									<h3 class="iconboxleft-title">Mother & Animal Lover</h3>
									<div class="iconboxleft-desc">
										The center of my infinite optimism and fears. The whole world is reshaped in this perfect storm and rainbows. 
									</div>
							  	</div>
							</div>
						</div>
	
						<div class="col-sm-6">
							<div class="iconboxleft wow fadeInUp">
								<div class="iconboxleft-icon">
									<i class="fas fa-camera-retro"></i>
								</div>
								<div class="iconboxleft-text">
									<h3 class="iconboxleft-title">Photography</h3>
									<div class="iconboxleft-desc">
										Portraits and nature are my favorite themes. Capturing the subtleties of reality in ways that no words are needed. 
									</div>
								</div>
							</div>
						</div>
	
					</div><!-- .row -->
	
					<div class="row">
	
						<div class="col-sm-6">
							<div class="iconboxleft wow fadeInUp">
								<div class="iconboxleft-icon">
									<i class="fas fa-chess-knight"></i>
								</div>
								<div class="iconboxleft-text">
									<h3 class="iconboxleft-title">Politics</h3>
									<div class="iconboxleft-desc">
										"What difference does it make to the dead, the orphans and the homeless, whether the mad destruction is wrought under the name of totalitarianism or in the holy name of liberty or democracy?." Mahatma Ghandi.
									</div>
								</div>
							</div>
	
						</div>
	
						<div class="col-sm-6">
	
							<div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
								<div class="iconboxleft-icon">
									<i class="fas fa-laptop-code"></i>
								</div>
								<div class="iconboxleft-text">
									<h3 class="iconboxleft-title">Analytics</h3>
									<div class="iconboxleft-desc">
										My passion for techology and information. The eternal chase of  keeping up with times. 
									</div>
								</div>
							</div>
	
						</div>
	
					</div><!-- .row -->
	
				</div><!-- col-xs-12 -->
	
			</div><!-- .row -->
		</section>
	
		<!-- About end -->

	<!-- Contact start -->

	<section id="contact" class="module">
		<div class="container">

			<div class="module-header">
				<h2 class="module-title">Contact
					<span>Contact</span>
				</h2>
				<div class="module-line"></div>
			</div>


			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<form id="contact-form" action="#">
						<div class="ajax-hidden">
							<div class="form-group wow fadeInUp">
								<label class="sr-only" for="c_name">Name</label>
								<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".1s">
								<label class="sr-only" for="c_email">Email address</label>
								<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail" required>
							</div>

							<div class="form-group wow fadeInUp" data-wow-delay=".2s">
								<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message" required></textarea>
							</div>

							<button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">Send Message
							</button>
						</div>
						<div class="ajax-response"></div>
					</form>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- Contact end -->